@import "tailwindcss";
@plugin "daisyui" {
    themes: night --default;
}

:root {
    --radius-selector: 0.25rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 1;
}

@font-face {
    font-family: 'NebulousRegular';
    src: url('./assets/fonts/nebulous-font/NebulousRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grest';
    src: url('./assets/fonts/grest-font/Grest.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@theme {
    --font-nebulous-regular: "NebulousRegular", sans-serif;
    --font-grest: "Grest", sans-serif;
}