@import "tailwindcss";
@plugin "daisyui" {
    themes: shadow --default;
}
@plugin "daisyui/theme" {
    name: "night";
    default: false;
}


@plugin "daisyui/theme" {
  name: "shadow";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: #f7f7f7;
  //--color-primary: #445562;
  --color-primary: hsl(206 18% 53% / 1);
    //--color-primary: hsl(206 48% 63% / 1);
  --color-primary-content: #f2f2f2;
  --color-secondary: #ffffff;
  --color-secondary-content: #0d0d0d;
  --color-accent: #988366;
  --color-accent-content: #0d0d0d;
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: #f7f7f7;
  --color-info: #3669af;
  --color-info-content: #fff;
  --color-success: #8fc584;
  --color-success-content: #000;
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: #000000;
  --color-error: #d02727;
  --color-error-content: #ffffff;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
  --default-font-family: "Merriweather_Sans", sans-serif;
}

@font-face {
    font-family: 'NebulousRegular';
    src: url('./assets/fonts/nebulous-font/NebulousRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grest';
    src: url('./assets/fonts/grest-font/Grest.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather_Sans';
    src: url('./assets/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-stretch: 75% 100%;
    font-display: swap;
}

@theme {
    --font-nebulous-regular: "NebulousRegular", sans-serif;
    --font-grest: "Grest", sans-serif;
    --font-cinzel: "Cinzel", serif;
    --font-merriweather-sans: "Merriweather_Sans", sans-serif;
}